body {
  display: grid;
  max-width: 1024px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  grid-template: repeat(1, auto) / 1fr;
  margin: 0 auto;
}

h2 {
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
}

h5 { display: inline; }

p { margin: 0 10px; }

header {
  grid-column: 1;
  grid-row: 1;
  font-size: 30px;
  text-align: center;
  background-color:lightgrey;
  box-shadow: 5px 4px 1px grey;
}

main {
  grid-row: 2;
  grid-column: 1;
  padding: 10px;
  grid-template: repeat(6, auto) / 1fr 1fr;
  display: grid;
  background-color:lightgrey;
  box-shadow: 5px 4px 1px grey;
}

.photo {
  grid-row: 2 / span 3;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}

.photo > img {
  border-style: solid;
  border-width: thin;
}

.name {
  grid-row: 2;
  grid-column: 2;
  font-size: 20px;
}

.skills {
  grid-row: 3;
  grid-column: 2;
  font-size: 20px;
}
.skills > h4 {
  min-width: 255px;
  margin: 0 10px;
}

.pr-lang {
  color: red;
}

.examples {
  grid-row: 4;
  grid-column: 2;
  font-size: 20px;
}

.summary {
  grid-row: 5;
  grid-column: 1 / span 2;
}

.experience {
  grid-row: 6;
  grid-column: 1 / span 2;
}

.education {
  grid-row: 7;
  grid-column: 1 / span 2; 
}

.english {
  grid-row: 8;
  grid-column: 1 / span 2;
}

footer {
  grid-row: 3;
  grid-column: 1;
  grid-template: 1fr / repeat(3, 1fr);
  display: grid;
  padding: 10px;
  text-align: center;
  background-color:lightgrey;
  box-shadow: 5px 4px 1px grey;
  border-top: 1px solid black;
}

.contacts {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.contacts > ul { padding: 0; }

.contacts > ul > li {
  padding: 5px;
  list-style-type: none;
  display: inline;
}

.year {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.rs_logo {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  margin: 20px;
}


.test {
  background: linear-gradient(white,black);
  padding: 10px 20px;
}

.codewars-code {
  background-color: #2a2e2e;
  padding: 5px 10px;
  color: white;
}

.cm-keyword {
  color: #b294bb;
}

.cm-def {
  color: #de935f;
}

.cm-operator {
  color: #ddd;
}

.cm-variable-2 {
  color: #89b6c5;
}

.cm-property {
  color: #81a2be;
}
.cm-atom {
  color: #dc7069;
}
.cm-number {
  color: #de935f;
}

.cm-string {
  color: #b5bd68;
}
